a {
    text-decoration: none;
    color: black;
}

h2 {
    // border: 1px solid;
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Zen Maru Gothic";
    font-size: 14.4px;
}

li {
    list-style: none;
}

img {
    width: 200px;
}