// ブレイクポイントを指定
$sp: 823px;
$ss: 390px;
$sm: 375px;
$se: 368px;

//全ページ共通

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin ss {
    @media (max-width: ($ss)) {
        @content;
    }
}

@mixin sm {
    @media (max-width: ($sm)) {
        @content;
    }
}

@mixin se {
    @media (max-width: ($se)) {
        @content;
    }
}